---
layout: default
title: Programación Paso a Paso con ejemplos
---
<h1>Programación paso a paso con ejemplos</h1>        
<img src='{{site.baseurl}}/assets/img/DevOps.png' alt='Programación paso a paso'>

    <h2>Tema 1 - Introducción</h2>
    <blockquote>
      En esta parte del tutorial, aprenderemos los rudimentos para empezar a programar.
    </blockquote>

<ol class='portada'> 
  {% for post in site.posts reversed %}
    {% if post.categories contains "tema1" %}
      <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2></li>
    {% endif %}
{% endfor %}
</ol>

